html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Boiler Plate*/





h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

#playerOne {
    margin-right: 15px;
}
#playerTwo {
    margin-left: 15px;
}

#playersArea {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
}

#gameModeArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playResetArea {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 50px;
}
#play {
    margin: 10px;
}
#reset {
    margin: 10px;
}

.board {
    display: grid;
    height: 450px;
    width: 450px;
    margin: 5px auto;
    padding: none;
    background-color: lightgrey;
    border: none;

    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

    grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
}

.board > #one {
    grid-area: one;
    border-bottom: 3px solid black;
    border-right: 3px solid black;

}
.board > #two {
    grid-area: two;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    
}
.board > #three {
    grid-area: three;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    
}
.board > #four {
    grid-area: four;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;

}
.board > #five {
    grid-area: five;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    
}
.board > #six {
    grid-area: six;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;

}
.board > #seven {
    grid-area: seven;
    border-top: 3px solid black;
    border-right: 3px solid black;
    
}
.board > #eight {
    grid-area: eight;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    
}
.board > #nine {
    grid-area: nine;
    border-top: 3px solid black;
    border-left: 3px solid black;
    
}

/* make background black remove borders */


#winner {
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
}